@model IEnumerable<Wtiau.Health.Web.Models.ViewModels.Model_FormList>

@{
    ViewBag.Title = "لیست پرسش نامه ها";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="panel panel-body panel-default  navigation">

    <div class="pull-left">
        <h4 class="navigation-title"><b>لیست پرسش نامه ها</b></h4>
    </div>

    <div class="pull-right">
        <a href="javascript:void(0)" onclick="Create()"><i class="glyphicon glyphicon-plus navigation-btn-icon"></i></a>
    </div>

</div>

<div class="panel panel-default">

    <div class="panel-body table-body" style="overflow-x:auto;">

        <table id="DateTable" class="table  table-bordered table-striped table-secondary" style="width:100%;">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Form_Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Form_QuestionCount)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Form_StepCount)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Form_CreateDate)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Form_IsActive)</th>
                    <th scope="col" data-orderable="false">کنترل</th>
                </tr>
            </thead>

            <tbody>
                @{
                    int x = 0;
                }

                @foreach (var item in Model)
                {
                    x++;

                    <tr>
                        <td scope="row">@x</td>
                        <td scope="row">
                            <span> @Html.DisplayFor(modelItem => item.Form_Name) </span>
                        </td>
                        <td scope="row">
                            <span> @Html.DisplayFor(modelItem => item.Form_QuestionCount) </span>
                        </td>
                        <td scope="row">
                            <span> @Html.DisplayFor(modelItem => item.Form_StepCount) </span>
                        </td>
                        <td scope="row">
                            <span> @Html.DisplayFor(modelItem => item.Form_CreateDate) </span>
                        </td>
                        <td scope="row">
                            <span> @( item.Form_IsActive ? "فعال" : "غیر فعال" ) </span>
                        </td>

                        <td scope="row">
                            <a class="btn btn-info btn-sm glyphicon glyphicon-list" href="@Url.Action("Index", "Question", new { id = item.ID })"> </a>
                            <a class="btn btn-warning btn-sm glyphicon glyphicon-pencil" href="javascript:void(0)" onclick="Edit(@item.ID)"> </a>
                            <a class="btn btn-primary btn-sm glyphicon glyphicon-th-list" href="@Url.Action("Index", "Step", new { id = item.ID })"> </a>
                            <a class="btn btn-success btn-sm glyphicon glyphicon-plus" href="javascript:void(0)" onclick="AddStep(@item.ID)"> </a>
                            <a class="btn wtiau-btn-wtiau btn-sm glyphicon glyphicon-ok" href="javascript:void(0)" onclick="SetActiveness(@item.ID)"> </a>
                            <a class="btn btn-danger btn-sm glyphicon glyphicon-trash" href="javascript:void(0)" onclick="Delete(@item.ID)"> </a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>


@Html.Partial("_Modal")


@section Modal {

    <script>

        function Delete(id) {
            $.ajax({
                url: "/Form/DeleteForm/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('حدف پرسش نامه');
                $('#myModalBody').html(result);
            });
        }

        function Edit(id) {
            $.ajax({
                url: "/Form/EditForm/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('ویرایش پرسش نامه');
                $('#myModalBody').html(result);
            });
        }

        function Create() {
            $.ajax({
                url: "/Form/CreateForm",
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('افزودن فرم');
                $('#myModalBody').html(result);
            });
        }

        function AddStep(id) {
            $.ajax({
                url: "/Form/AddStep/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('افزودن مرحله');
                $('#myModalBody').html(result);
            });
        }

        function SetActiveness(id) {
            $.ajax({
                url: "/Form/SetActiveness/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('فعال سازی');
                $('#myModalBody').html(result);
            });
        }

    </script>

}